.login-btn{
    display: block;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #e62e04;
}
.login-btn:hover{
    color: #fff;
}
.join-btn{
    display: block;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #f60;
}
.join-btn:hover{
    color: #fff;
}
input.btn-login {
    color: #fff!important;
    border: 1px solid #f0751c;
    width: 100%;
    background-repeat: repeat-x;
    font-size: 13px;
    line-height: 20px;
    padding: 6px 15px;
    margin: 0;
    font-size:14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    display: inline-block;
    position: relative;
    overflow: visible;
    background-image: -webkit-linear-gradient(top,#f78510,#fc7520);
    background-image: -moz-linear-gradient(top,#f78510,#fc7520);
    margin-top:5px;
}
input.btn-login:hover {
    color: #fff;
    border: 1px solid #f29720;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top,#fba419,#fd9729);
    background-image: -moz-linear-gradient(top,#fba419,#fd9729);
    background-repeat: repeat-x;
}