body{
    position:relative;
}
ul{
    padding:0px;
}
input{
    vertical-align:middle;
}
dt {
    font-weight:normal;
}
dd{
    word-break: normal;
}
a:hover , a:visited ,a:focus {
    text-decoration:none !important;
}
td[contenteditable="true"]:focus{
    background-color:#eff5ff;
}
.loading{
    display:none;
}
.weight-normal{
    font-weight:normal;
}
.weight-bold{
    font-weight:bold;
}
.em-hide{
    display:none;
}
.highlight{
    background-color: #F0F8FF;
}
.rtl{
    direction:rtl !important;
}
.en-font{
    font-family: tahoma;
}
.ltr{
    direction:ltr !important;
}
/*.form-horizontal .form-group{*/
    /*margin-right:0;*/
    /*margin-left:0;*/
/*}*/
/*----------------------------------Spacing---------------------------*/
.padding-0{
    padding:0 !important;
}
.padding-5{
    padding:5px;
}
.padding-10{
    padding:10px;
}
.padding-20{
    padding:20px;
}
.padding-25{
    padding:25px !important;
}
.padding-t-5{
    padding-top: 5px;
}
.padding-t-10{
    padding-top: 10px;
}
.padding-lr-5{
    padding:0 5px 0 5px;
}
.padding-lr-10{
    padding:0 10px 0 10px;
}
.padding-lr-20{
    padding:0 20px 0 20px;
}
.padding-l-5{
    padding-left:5px;
}
.padding-l-10{
    padding-left:10px;
}
.padding-r-5{
    padding-right:5px;
}
.padding-r-10{
    padding-right:10px;
}
.margin-b-0{
    margin-bottom:0 !important;
}
.margin-b-5{
    margin-bottom:5px  !important;
}
.margin-b-10{
    margin-bottom:10px  !important;
}
.margin-b-20{
    margin-bottom:20px;
}
.margin-t-0{
    margin-top:0;
}
.margin-t-5{
    margin-top:5px;
}
.margin-t-10{
    margin-top:10px;
}
.margin-t-15{
    margin-top:15px;
}
.margin-t-20{
    margin-top:20px;
}
.margin-l-5{
    margin-left:5px;
}
.margin-l-10{
    margin-left:10px;
}
.margin-l-20{
    margin-left:20px;
}
.margin-r-5{
    margin-right:5px;
}
.margin-r-10{
    margin-right:10px !important;
}
.margin-r-20{
    margin-right:20px;
}
.margin-r-30{
    margin-right:30px;
}